@import "../../styles/variables";

.paperStyle{
    padding:20px; 
    height:50vh;
    width: 300px;
    margin:100px auto;
};

.avatarStyle{
    background-color:$green-color!important;
};

.btnStyle{
    margin:20px 0px!important;
};