.paperStyle{
    padding:20px!important; 
    height:50vh!important;
    width: 300px !important;
    margin:100px auto!important
};

.avatarStyle{
    background-color:#99db49!important;
};

.btnStyle{
    margin:20px 0px!important;
};